@tailwind base;
@tailwind components;
@tailwind utilities;


label.v-label.theme--light {
   color: rgba(155, 169, 180, var(--tw-text-opacity))
}

.register-form .v-icon.v-icon {color: #d6d6d6;}

.register-form .v-input--selection-controls__ripple:before {background-color:#d6d6d6;}

.register-form .flex , .login-form .flex, .forgot-password .flex{max-width: none;}

.form-input, .form-textarea, .form-multiselect, .form-select, .form-checkbox, .form-radio {border: 1px solid rgba(51, 54, 58,1);}

html{
   overflow-y:auto !important}
   .v-input--radio-group__input label {
   margin-left: 0.5rem;
   }

[data-aos^=fade][data-aos^=fade] {
      opacity: 1 !important;
  }   

  .theme--light.v-input {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}

.v-text-field__details{
   display: none !important;
}


.fileUpload {
   border: rgba(197, 210, 220,1) !important;
   margin-bottom: 20px!important;
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: rgba(197, 210, 220,1) !important;
}

.theme--light.v-btn.v-btn--has-bg {
   background-color: rgba(93, 93, 255, 1) !important;
   color: #FFF !important;
   height: 48px !important;
}

/* Form Field Style */
.input-field-outer .v-input__slot:after,
.input-field-outer.v-input--is-focused .v-input__slot:after{
   display: none;
}

.input-field-outer.form-input{
   border: 0!important;
   padding: 0!important;
}

.input-field-outer input {
   min-height: 48px;
   margin: 0;
}

.input-field-outer.v-input--is-focused {
   border-color:rgba(112, 125, 134, 1);
}

.input-field-outer .v-input__slot {
   margin: 0;
   padding: 0;
}

.input-field-outer .v-input__slot:before {
   display: none;
}

.form-avataar .v-icon.text--darken-2, 
.form-file-upload .v-icon.v-icon--link{
   color: #c5d2dc;
}

.form-file-upload .v-input__control .v-file-input__text{
    color: #c5d2dc!important;
}

.input-field-outer.v-input--is-focused .v-input__control,
.input-field-outer.v-input--has-state .v-input__control,
.input-field-outer.v-input--has-state,
.input-field-outer .v-input__control{
   border:0px!important;
   outline: 0!important;
   border-color: transparent!important;
}

.input-field-outer .v-input__slot {
    border: 1px solid rgba(51, 54, 58, var(--tw-border-opacity));
    padding: 0 15px;
}

.input-field-outer.v-input--is-focused .v-input__slot{
   border-color:rgba(112, 125, 134, 1)!important;
}

.input-field-outer.error--text .v-input__slot{
   border-color: rgba(239,68,68,1) !important;
}

.form-file-upload .v-input__control .v-input__slot{
   margin-bottom: 0!important;
   position: relative;
   min-height: 50px!important;
   outline: 0px!important;
}

.form-file-upload .v-input__control fieldset{
   top: 0;
   outline: 0px!important;
   border:0px;
}

.form-file-upload .v-input__control,
.form-file-upload .v-input__control .v-text-field__slot,
.form-file-upload .v-input__control .v-file-input__text,
.form-file-upload .v-input__control:focus,
.form-file-upload .v-input__control .v-text-field__slot:focus,
.form-file-upload .v-input__control .v-file-input__text:focus,
.form-file-upload .v-input__control fieldset{
   border: 0px!important;
   outline: 0px!important;
}

.input-field-outer input::placeholder,
.input-field-outer textarea::placeholder {
  color: #c5d2dc!important;
  opacity: .4;
}

.form-avataar {   
    max-width: 200px;
    position: relative;
    margin: 10px auto 10px;
}

.form-avataar button.v-icon.v-icon--link {
    position: absolute;
    right: -6px;
    top: -18px;
}
.fileUpload .v-input__prepend-outer{
   order: 99;
}

ul.industries-list {
    display: flex;
    flex-flow: wrap;
}

ul.industries-list li {
    max-width: 25%;
    width: 100%;
    margin-bottom: 10px;
}


.form-input.input-field-outer .v-input__control .v-input__slot[role="button"] {
   background: transparent;
   margin :0px;
   color:#fff;
}

.form-input.input-field-outer .v-input__control .v-input__slot[role="button"]  .v-icon.v-icon,
.v-select__selection{
   color: #c5d2dc;
}

.tiptap-vuetify-editor.form-input.input-field-outer {
   padding: 0;
}

.theme--light.v-messages{
   color:rgba(239,68,68,1) !important;
}

.input-field-outer {
   border: 0px !important;
   padding: 0 !important;
   outline-color: red;
}

.input-field-outer .v-input__slot {
   border: 1px solid rgba(51, 54, 58, var(--tw-border-opacity));
   padding: 0 15px;
}

.v-text-field--outlined fieldset,
.v-text-field.v-text-field--enclosed .v-text-field__details, 
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot{
   outline: 0px;
}

.v-text-field--filled>.v-input__control>.v-input__slot, 
.v-text-field--full-width>.v-input__control>.v-input__slot, 
.v-text-field--outlined>.v-input__control>.v-input__slot{
   min-height: 50px!important;
}

body .theme--light.v-btn.v-btn--disabled.v-btn--has-bg[type="button"]{
   background: rgba(93, 93, 255, .5) !important;
   color: inherit!important;
}

.v-text-field--outlined.v-input--has-state fieldset, 
.v-text-field--outlined.v-input--is-focused fieldset,
.form-input.input-field-outer fieldset{
   border: 0px!important;
}

.input-field-outer .v-text-field__details {
    display: block !important;
}

.input-field-outer .v-text-field__details .v-messages__message{
   padding-top: 10px;
}

.custom-link {
    color: rgb(63, 81, 181) !important;
    height: auto !important;
    opacity: 1 !important;
    margin: 0!important;
}
.custom-link  .v-btn__content{
   opacity: 1!important;
}


@media (max-width:640px){
   ul.industries-list li {
      max-width: 50%;
   }  
}

@media (max-width:480px){
   ul.industries-list li {
      max-width: 100%;
   }  
}


/* Post Detail Page */
.company-title {
   font-size: 1.125rem;
   font-weight: 400;
   color:rgb(217, 227, 234);
   line-height: normal;
}

.post-title {
   font-size: 2rem;
   font-weight: 500;
   margin-bottom: 1rem;
   color:rgb(217, 227, 234);
   line-height: normal;
}

.location,.post-date {
   font-size: 1rem;
   padding-right: .6rem;
   display: inline-block;
   color:rgb(155, 169, 180);
}

.post-detail-wrap {
   display: block;
   margin-bottom: 5rem;
}

.post-detail-wrap p strong,.section-title{
   font-size: 1.3rem;
   margin-top: 2rem;
   display: inline-block;
   width: calc(100% - .5rem);
   font-weight: 500;
   margin-left: -.5rem;
   color:rgb(217, 227, 234);
}

.section-title{
   margin-left: 0;
   width: 100%;
   color:rgb(155, 169, 180)
}

.post-detail-wrap p,.desc {
   font-size: 1rem;
   padding: .2rem 0 .2rem .5rem;
   font-weight: 400;
   color:rgb(155, 169, 180);
}

.types-title{
   font-size: 1rem;
   margin-top: .5rem;
   font-weight: 400;
   color:rgb(155, 169, 180);
   line-height: normal;
}

.desc{
   padding: 0;
}

.extra-info {
   font-size: 1rem;
   font-weight: 400;
   color:rgb(155, 169, 180);
   line-height: normal;
}

.extra-info strong {
   font-weight: 500;
   color:rgb(217, 227, 234)
}

.link-text{
   color: rgba(93, 93, 255, 1) !important;
}

@media(min-width:575px){
   .mt-sm-12{
      margin-top: 3rem;
   }
}